body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(221, 194, 219);
  text-align: center;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

#motUtilisateur {
  margin: auto;
}
#boutonCalcul {
  margin: auto;
  align-items: center;
}

#resultat {
  border-style: hidden;
  border-radius: 20px;

  background-color: aquamarine;
  margin: auto;
  padding: 2px;
}



label{
    margin: 10px;
}